vendor
bin
.env

# Ignore configuration files that may contain sensitive information.
local.settings.php
local.drush.yml
local.site.yml
local.services.yml
*.local

# Ignore drupal core.
web/core

# Ignore paths that contain user-generated content.
web/sites/*/files
web/sites/*/private

# Ignore contrib modules. These should be created during build process.
web/modules/contrib
web/themes/contrib
web/profiles/contrib
web/libraries
drush/Commands
